<main class='main'>
      <div class='top-message'>
        <p class='top-message-picture'><span>"家族"</span>のための<span>”情報サイト”</span><br>
        <span>ICokka</span></p>
      </div>

<%= render"shared/header" %>
      <%= render"shared/weather" %>
   <%= render"shared/map" %>  
<%= render"shared/footer" %>