<%= render"shared/header" %>
<main class='main'>
      <div class='top-message'>
        <h1 class='top-message-text'>"家族"のための”公園情報サイト”<br>
        <span class="title">ICokka</span></h1>
      </div>


      <%= render"shared/weather" %>
   <%= render"shared/map" %>  
<%= render"shared/footer" %>