    <footer class='footer'>
      <div class='footer-logo'>
        <%= link_to image_tag( "footer-logo.png", class: "footer-logo") ,"/" %>
      </div>
      <div class='footer-text'>©︎Sniff & Scurry 2021.9.27</div>
    </footer>