* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.header {
  width: 100vw;
  height: 8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f0e6;
}
.header-logo {
  padding: 1px;
}
.icokka-icon {
  height: 5vw;
}
.main-menu {
  width: 80%;
}
.lists-left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-category {
  color: #333333;
  margin-right: 2vw;
  width: 7vw;
  text-decoration: none;
  border-bottom: 4px solid pink;
  font-weight: bold;
}
.lists-right {
 color: #859695;
 width: 70%;
 display: flex;
 align-items: center;
 justify-content: space-between;

}
.user-nickname {
  width: 10vw;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
  border-bottom: 4px solid pink;

}

.logout {
  text-decoration: none;
  border-bottom: 4px solid pink;
  color: #333333;
  font-weight: bold;
  font-size: small;
}

.login {
  text-decoration: none;
  border-bottom: 4px solid pink;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  border-bottom: 4px solid pink;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}