
.message-box{
  width: 80vw;
  height: 30vh;
}
.name-box{
  width: 50vw;
  margin: 10px 0 10px 0;
}
.address-box{
  width: 50vw;
  margin: 10px 0 10px 19px;
}
.image-submit {
  margin: 10px 0 10px 0;

}

#new_message {

}