.weather__content--report-temp {
  font-size: 10px;
  font-weight: bold;

}

.weather__content--report-date {
  font-size:12px;
  font-weight: bold;

}

.weather__content--report {
  // display: flex;
  float: left;
  align-items: center;
}

.weather {
  

}

